[Desktop Entry]
Name=Control Center
Comment=nwg Control Center written in Go
Exec=nwgocc
Icon=nwgocc
Terminal=false
Type=Application
Categories=System;Settings;Utility;
